# Environment
.env
.env.local
.env.*.local
.env.lambda

# AWS CDK
cdk-outputs.json
infra/cdk.out/
infra/node_modules/

# Lambda build staging (created by deploy.sh)
backend/.lambda-build/

# Dependencies
node_modules/

# Build output
dist/

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Test coverage
coverage/

# TypeScript cache
*.tsbuildinfo
